    /* 국제사업1 관련 */

    /* css 추가*/
    .top-10 
    {top: 9.5% !important}


    /* #container .posit-text {
        width: 71.6%;
        left: 50%;
        transform: translateX(-50%);
        font-size: clamp(12px , 2vw ,18px);
        line-height: 180%;
        font-weight: 500;
    } */
    #container .posit-text {
        line-height: 180%;
    }

    /*.web02 .orange-text5 {
        top: 35% !important;
    }
    */
    .web02 .orange-text5 {
        top: 45% !important;
    }


    /* .web01 .content-img7 .posit {
        line-height: 180% !important;
    } */
    .web01 .content-img7 .posit {
        line-height: 150% !important;
    }




    @media (max-width: 767px) {
        /* .web02 .posit {
            line-height: 3.5vw;
            font-size: clamp(10px, 2.1vw, 15px) !important;
        } */
        .web02 .posit {
            line-height: 2.2vw;
        }


        /* .web02 .orange-text1 {
            top: 22% !important;
        } */
        .web02 .orange-text1 {
            top: 20% !important;
        }


        /* css 추가 */
        .top-9 {
            top: 20% !important;
            }


        /* intBusiness1.html 수정 + css 추가 */
        /*  <span class="orange-text f-w-6 animate-on-scroll top-10">식수위생</span> */
        /*  <span class="orange-text orange-text4 f-w-6 animate-on-scroll top-10">보건영양</span> */
        .top-10 {
            top: 23% !important;
        }
    }
    