#container .main-visual {
    width: 100%;
    position: relative;
}
#container .visual-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../images/advocacy/mainVbg.png);
    background-size: 100% 100%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
#container .visualImg-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#container .visualImg-1 img {
    margin: 0 auto;
}
#container .visualText {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-52%);
    color: #fff;
    font-size: clamp(25px, 1.8vw, 32px);
}
#container .visualImg-2 {
    width: 100%;
    position: absolute;
    bottom: -22%;
    left: 50%;
    transform: translateX(-50%);
}
#container .visualImg-2 img {
    margin: 0 auto;
}
#container .sub-section {
    margin-top: clamp(50px, 14vw, 140px);
}
#container .orangBox {
    position: relative;
}
#container .table-text {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 13%;
    left: 2%;
    transform: translateY(-50%);
}
#container .content-text img {
    width: 100%;
}
@media (max-width: 767px) {
    #container .visual-wrap {
        border-radius: 0px;
        background-image: none;
    }
    #container .visualText {
        top: 31%;
        font-size: 18px;
    }
    #container .visualImg-2 {
        width: 45%;
        bottom: -47%;
        left: 48%;
        transform: none;
    }
    #container .visualImg-2 img {
        width: 100%;
    }
    #container .sub-section {
        margin-top: clamp(50px, 25vw, 166px);
    }
    #container .table-text {
        top: 19%;
        left: 1vw;
    }
    #container .table-text {
        font-size: clamp(12px, 3vw, 16px);
    }
}