#container .arrow-img {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
#container .arrow-title {
    font-size: 19px;
    color: #F56400;
}
#container .content-section {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: clamp(50px, 5vw, 96px);
    margin-bottom: clamp(80px, 16vw, 297px);
}
#container .content-title {
    color: #F56400;
    font-size: 32px;
    line-height: 42px;
}
#container .content-title > span {
    display: block;
}
#container .content-section .item-cotainer {
    margin-top: clamp(80px, 6vw, 120px);
}
#container .content-section .item-table {
    justify-content: space-between;
}
#container .item-title {
    margin-top: -1px;
    font-size: 22px;
}
#container .item-img {
    margin-top: clamp(80px, 5vw, 100px);
}