@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
  font-family: 'Chilgok'; 
  src: url('../font/Chilgok_lws.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
html {
    overflow: auto; /* 스크롤 기능 유지 */
}

/* ::-webkit-scrollbar {
    width: 0px; /* 스크롤바 너비를 0으로 설정해 숨김 */
/* } */ 

/* HTML과 body에 대한 기본 스타일 */
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif; /* 구글 폰트를 적용하는 경우 */
    line-height: 1.5; /* 텍스트 가독성을 위한 기본 라인 높이 */
    letter-spacing: -2%;
    -webkit-font-smoothing: antialiased; /* 텍스트 렌더링 최적화 */
    -moz-osx-font-smoothing: grayscale; /* 텍스트 렌더링 최적화 */
    word-break: normal;
    /* overflow: hidden; */
}

.f-chilgok {
  font-family: 'Chilgok', sans-serif;
}
/* 이미지와 비디오의 최대 크기를 부모 요소에 맞추도록 설정video */
img {
    max-width: 100%;
    height: auto;
    display: block;
  }

/* img 드래그 방지*/
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    oncontextmenu: return false;
}
  
  /* 링크 기본 스타일 리셋 */
  a {
    text-decoration: none;
    color: inherit; /* 링크 기본 색상을 텍스트 색상으로 */
  }

  #container picture {
    display: block;
  }

  /* 처음에는 완전히 투명하고 아래쪽에 위치 */
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(50px); /* 50px 아래에 위치 */
    transition: opacity 1s linear, transform linear;
  }

  /* 스크롤될 때 실행 (JS에서 클래스 추가) */
  .animate-on-scroll.animate__animated {
    opacity: 1;
    transform: translateY(0); /* 원래 위치로 이동 */
  }

  .pc_display { display: block; }
  .mobile_display { display: none; }

    @media only all and (max-width: 767px) {
        .pc_display { display: none; }
        .mobile_display { display: block; }
    }


  .inner {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
  }
  .t-8 {
    top: 8% !important;
  }
  .t-9 {
    top: 9% !important;
  }
  .t-33 {
    top: 33% !important;
  }
  .f-w-3 {
    font-weight: 300;
  }
  .f-w-4 {
    font-weight: 400;
  }
  .f-w-5 {
    font-weight: 500;
  }
  .f-w-6 {
    font-weight: 600;
  }
  .f-w-7 {
    font-weight: 700;
  }
  
  .f-w-8 {
    font-weight: 800;
  }
  
  .f-w-9 {
    font-weight: 900;
  }

  /* font-size */
  .f-s-45 {
    font-size: 45px;
  } 
  .f-s-18 {
    font-size: 18px;
  }
   

  /* margin */
  .m-t-1 {
    margin-top: 10px;
  }
  .m-t-2 {
    margin-top: 20px;
  }
  .m-t-3 {
    margin-top: 30px;
  }
  .m-t-4 {
    margin-top: 40px;
  }
  .m-t-5 {
    margin-top: 50px;
  }
  .m-t-6 {
    margin-top: 60px;
  }
  .m-t-7 {
    margin-top: 70px;
  }
  .m-t-8 {
    margin-top: 80px;
  }
  .m-t-9 {
    margin-top: 90px;
  }
  .m-t-10 {
    margin-top: 100px;
  }
  .m-t-15 {
    margin-top: 150px;
  }
  .m-t-100 {
    margin-top: clamp(50px, 6vw, 100px);
  }

  .l-t-62 {
    line-height: 62px;
  }

  .flex-row {
    display: flex;
    letter-spacing: -2%;
  }
  .flex-row1 {
    display: flex;
    letter-spacing: -2%;
  }
  .flex-row2 {
    display: flex;
    letter-spacing: -2%;
  }
  .flex-row3 {
    display: flex;
    letter-spacing: -2%;
  }

  .popup-image {
    opacity: 0;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-box {
    display: flex;
  }
  
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }

  .t-orange{
    color: #F56400;
  }

  .first {
    margin-top: 0 !important;
  }
  span.pc {
    display: block;
  }
  .posit-ab {
    position: absolute;
  }
  @media (max-width: 767px) {
    span.mob {
      display: block;
    }
    .f-s-16 {
      font-size: 16px;
    }
  }