@charset "utf-8";

@import url(common.css);
@import url(mc-util.css);


/* header */
.campaign #header { position: relative; background: #000;   border-bottom: 0; position: relative; z-index: 13; }

.campaign #header .header_wrap { color: #fff; padding: 0; height: 79px; display: flex; justify-content: space-between; align-items: center; }
.campaign #header .header_wrap .logo {  margin-right: auto; }
.campaign #header .header_wrap .vol_info { font-weight: 500; font-size: 18px; line-height: 28px;  align-items: center; margin-right: 13px;}
.campaign #header .header_wrap .vol_info.mobile_display { display: none;}
/* .campaign #header .header_wrap .menu { margin: 0; } */
.campaign #header .header_wrap .menu button {  width: 81px; height: 40px; border: 2px solid #fff; border-radius: 355px; padding: 0.2rem; text-align: center; color: #fff; font-weight: 700; font-size: 18px; line-height: 28px; cursor: pointer; }
.campaign #header .header_wrap .angles.mobile_display { display: none;}

/* 서브페이지에서의 헤더의 메뉴 버튼 radius가 다른 부분에 대함 */
/* 
.campaign #header .header_wrap .menu button { border-radius: 35px; }
*/

.campaign .my_gnb { width: 100%; max-width: 1200px; margin: 0 auto; position: relative; }
.campaign .my_gnb.on::after { content: ''; position: fixed; left: 0; top: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.5); z-index: 12; }
.campaign .my_gnb .gnb_wrap { width: 100%; max-width: 417px; background: #fff; position: absolute; right: 0; top: -79px; z-index: 14; padding: 25px 25px 30px 20px; }
.campaign .my_gnb .gnb_wrap .mn_top { display: flex; justify-content: space-between; align-items: center; }
.campaign .my_gnb .gnb_wrap .mn_top .vol_info { font-weight: 500; font-size: 18px; line-height: 28px; }
.campaign .my_gnb .gnb_wrap .mn_top .vol_info span { font-weight: 900; }
.campaign .my_gnb .gnb_wrap .mn_top .close_btn { cursor: pointer; }
.campaign .my_gnb .gnb_wrap nav .gnb { display: flex; flex-direction: column; gap: 55px; margin: 45px 0 55px; }
.campaign .my_gnb .gnb_wrap nav .gnb > li { padding-top: 18px; }
.campaign .my_gnb .gnb_wrap nav .gnb > li .lnb { position: relative; }
.campaign .my_gnb .gnb_wrap nav .gnb > li:nth-child(1) .lnb::before { content: ''; width: 18px; height: 18px; display: block; background: url(../images/common/menu_item01.svg) no-repeat; position: absolute; left: 0; bottom: 100%; }
.campaign .my_gnb .gnb_wrap nav .gnb > li:nth-child(2) .lnb::before { content: ''; width: 18px; height: 18px; display: block; background: url(../images/common/menu_item02.svg) no-repeat; position: absolute; left: 0; bottom: 100%; }
.campaign .my_gnb .gnb_wrap nav .gnb > li:nth-child(3) .lnb::before { content: ''; width: 18px; height: 18px; display: block; background: url(../images/common/menu_item03.svg) no-repeat; position: absolute; left: 0; bottom: 100%; }
.campaign .my_gnb .gnb_wrap nav .gnb > li .lnb > li a { font-weight: 500; font-size: 18px; line-height: 39px; }
.campaign .my_gnb .gnb_wrap .btns a { display: block; font-weight: 500; font-size: 18px; line-height: 39px; }

@media only all and (max-width: 768px) {

    .campaign #header { position: unset; padding: 0 20px; }
    .campaign #header .header_wrap { height: 44px; width: auto;}
    .campaign #header .header_wrap .logo { width: 103px; height: 21px; margin: 0;}
    .campaign #header .header_wrap .logo h1 img { width: 103px; height: 21px; }
    .campaign #header .header_wrap .vol_info { font-weight: 400; font-size: 12px; line-height: 22px; color: #ccc; z-index: 9; }

    .campaign #header .header_wrap .vol_info.pc_display { display: none;}
    .campaign #header .header_wrap .vol_info.mobile_display { display: block !important; margin-left: auto;}

    .campaign #header .header_wrap .menu {  display: block !important;}
    .campaign #header .header_wrap .menu button { color: #fff; width: 49px; height: 24px; border: 1px solid #fff; border-radius: 35px; padding: 0; font-weight: 500; font-size: 12px; line-height: 22px; }
    .campaign #header .header_wrap .angles {  width: 24px; height: 24px; text-align: center; border: 1px solid #fff; border-radius: 8px; padding-top: 9px; padding-left: 7px; margin-left: 13px; }
    .campaign #header .header_wrap .angles img { width: 40%; }
    .campaign #header .header_wrap .angles.mobile_display {display: block;}

    .campaign .my_gnb .gnb_wrap { width: 100%; max-width: 219px; top: -44px; padding: 11px 20px 20px 20px; }
    .campaign .my_gnb .gnb_wrap .mn_top .vol_info { font-weight: 400; font-size: 12px; line-height: 22px; }
    .campaign .my_gnb .gnb_wrap .mn_top .close_btn { width: 21px; }
    .campaign .my_gnb .gnb_wrap .mn_top .close_btn img { width: 100%; }
    .campaign .my_gnb .gnb_wrap nav .gnb > li .gnb_tit { font-size: 12px; line-height: 27px; }
    .campaign .my_gnb .gnb_wrap nav .gnb > li .lnb > li a { font-size: 12px; line-height: 27px; }
    .campaign .my_gnb .gnb_wrap .btns a { font-size: 12px; line-height: 27px; }

    .campaign { position: relative; }
    .campaign .my_gnb02 { position: absolute; right: 0; top: 44px; z-index: 11; background: #fff; padding: 20px; font-size: 12px; }
    .campaign .my_gnb02 .divide { border-top: 1px solid #ccc; margin-top: 13px; padding-top: 5px; }
    .campaign .my_gnb02 .btn_size { padding: 5px 20px; }
    .campaign .my_gnb02 .btn_size span { font-size: 13px; }
    .campaign .my_gnb02 ul li { margin: 5px 0; }
    .campaign .my_gnb02 ul li .name { font-weight: bold; }
}

/* main */
#container .arrow-container {
    text-align: center;
}
#container .arrow-img {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
#container .arrow-title {
    font-size: 19px;
    color: #F56400;
    animation-delay: 1s;
}
#container .content-section {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: clamp(50px, 5vw, 96px);
    margin-bottom: clamp(80px, 16vw, 297px);
}
#container .content-title {
    color: #F56400;
    font-size: 32px;
    line-height: 42px;
}
#container .content-title > span {
    display: block;
}
#container .content-section .item-container {
    margin-top: clamp(80px, 6vw, 120px);
}
#container .content-section .item-table {
    justify-content: space-between;
}
#container .item-title {
    width: 80px;
    margin-top: -1px;
    font-size: 22px;
}
#container .item-img {
    margin-top: clamp(80px, 5vw, 100px) !important;
}

@media (max-width: 767px) {
    .all-wrap {
        padding-top: 0px !important;
    }
    #container .content-title {
        text-align: center;
        font-size: 22px;
        line-height: 32px;
    }
    #container .content-section .item-table {
        flex-direction: column;
        gap: 25px 0;
    }
    #container .item-title {
        width: 100%;
        padding: 2px 20px;
        max-width: fit-content;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        font-size: 16px;
        border-radius: 13px;
        background: #F56400;
    }
    #container .content-item {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
    }
    #container .content-item img {
        width: 100%;
        object-fit: contain;
    }
}




/* page ctrl */
.pagination { z-index: 99; position: fixed; display: flex; flex-direction: column; bottom: 20px; right: 2%; text-align: center; } 
.pagination button { width: 50%; height: 50%; margin: 3px 0; cursor: pointer; border: none; border-radius: 50%; background-color: #F67821; /* 배경색 */
    padding: 1vw 1vw;
    /* 최소 및 최대 값을 설정하여 반응형 패딩을 조정 */
    /* padding: clamp(10px, 1.5vw, 15px) clamp(10px, 1.5vh, 15px); */ box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    transition: all 0.3s ease; /* 호버 효과를 위한 트랜지션 */position: relative; z-index: 1;
}
.pagination button::before { content: '';position: absolute; top: 50%; left: 50%; width: 0;height: 0;border-radius: 7px;background: #c76407; /* 기본 배경색 */
    transition: all 0.3s ease;transform: translate(-50%, -50%);z-index: -1; }
.pagination button:hover::before{width: 80%;height: 80%; border-radius: 50%; } 
.pagination button:hover { background-size: 30%; transform: translateY(-2px);}
.pagination button img { width: 100%; display: block; }
.paginationbutton:disabled { cursor: not-allowed; opacity: 0.5; }
.pagination .scroll-button { padding: 0.8vw; }

.pagination button.none {
    opacity: 0;
    display: none;
    cursor: not-allowed;
}

@media (min-width: 2560px) {
    .pagination button { padding: 1.5rem; }
    .pagination .scroll-button { padding: 1rem; }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .pagination button { width:40%; height: 40%; }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .pagination button { width: 40%; height: 50%; }
    .pagination .scroll-button { width: 40%; height: 40%; padding: 1vw; }
}
@media (min-width: 400px)  and (max-width: 767px) {
    /* .pagination { width: 12%; right: 27px; } */
    .pagination button { width: 40%; height: 40%; padding: 10px; margin: 3px 0; }
}
@media only all and (max-width: 399px) {
    .pagination { width: 7%; right: 27px; }
    .pagination button { width: 40px; height: 40px; padding: 10px; margin: 3px 0; }
    .pagination .scroll-button { padding: 1.2vw; }
}